<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ecom.utility.Listener"></listener>
        <listener class-name="com.ecom.utility.ExtentReporterNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/home/josh/IdeaProjects/swagLab/src/test/java/com/ecom/testcases/LoginTest.java">
        <classes>
            <class name="com.ecom.testcases.LoginTest"/>

        </classes>
    </test>
</suite>